*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image:linear-gradient( 90deg,rgb(255, 83, 229), blueviolet);
}
 main{
    max-width: 600px;
    margin: 20px auto;
}
 h1{
    color: white;
    text-shadow: 2px 2px 0px  rgb(0, 0, 0);
    margin-bottom: 15px;
    margin-top: 15px;
}
 h2{
    margin-bottom: 20px;
    color: #6C24D4;
}
 label{
     /* border: solid red 2px;  */
    display: block;
    width: fit-content;
    /* background-color: rgb(164, 27, 206); */
    background-color: #6C24D4;
    color: white;
    margin-top: 7px;
    padding: 2px 10px;
    border-radius: 5px 5px 0px 0px;
 } 
 label.limpo{
    display: inline-block;
    background-color: unset;
    color: blueviolet;
    font-size: 0.9em;
    padding: 5px;
    margin: 0;
}
 textarea.texto{
    width: 100%;
    border:solid #6C24D4 2px;
    
 }
 input[type=text], input[type=email],input[type=number] ,input[type=password], input[type=date], select{
    border: solid blueviolet 2px;
    margin-bottom: 8px;
    padding: 3px 9px;
    border-radius: 0px 5px 5px 5px;
}
input.nivel{
    margin-bottom: 10px;
}
section{
    /* border: solid blue 3px; */
    background-color: white;
    padding: 15px 15px 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}
section.botoes{
    margin: auto;
}
fieldset{
    border: solid #6C24D4 3px;
    border-radius: 5px;
    max-width: 240px;
    margin-top: 5px; 
}
fieldset legend{
    /* border: solid darkgoldenrod 3px; */
    background-color: #6C24D4;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 3px 10px;
    border-radius: 5px;
}
fieldset input{
    margin-left: 5px;
}
input[type=submit], input[type=reset] {
    border: solid red 2px;
    color: white;
    background-color: darkgray;
    font-size: 1.2em;
    border: solid white 2px;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
} 
input[type=submit] {

    background-color: green;
    margin-left: 188px;  
}
input[type=reset] {
    background-color: orange; 
}


